In [18]:
import pandas as pd
import numpy as np

In [8]:
dataset=pd.read_csv('major_project_data.csv')

In [9]:
dataset.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [11]:
#dataset = pd.read_csv('../input/PS_20174392719_1491204439457_log.csv')
dataset.drop('nameOrig', axis=1, inplace=True)
dataset.drop('nameDest', axis=1, inplace=True)
dataset.drop('isFlaggedFraud', axis=1, inplace=True)

In [13]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 7].values

In [14]:
dataset['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [16]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
X[:, 1] = labelencoder.fit_transform(X[:, 1])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()

# Avoiding the Dummy Variable Trap
X = X[:, 1:]

C:\Users\rawll\.conda\envs\tensorflow\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\rawll\.conda\envs\tensorflow\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)
X_test, X_val, y_test, y_val = train_test_split(X_test, y_test, test_size=0.5, random_state=1)

counts = np.unique(y_train, return_counts=True)

In [23]:

from sklearn.preprocessing import StandardScaler 
sc_x = StandardScaler() 
X_train = sc_x.fit_transform(X_train)  
X_test = sc_x.transform(X_test) 
  
print (X_train[0:10, :])

[[-0.08099701 -0.73636636 -0.71492543 -0.30240561  2.11855953 -0.01431966
  -0.28832856 -0.23347648 -0.30737557 -0.33284631]
 [-0.08099701 -0.73636636  1.39874729 -0.30240561  0.03894847 -0.29187833
  -0.28848685 -0.29221759 -0.32354534 -0.33284631]
 [-0.08099701 -0.73636636 -0.71492543 -0.30240561  0.41131126 -0.10417966
   1.7070056   1.71884484 -0.16940442 -0.22209973]
 [-0.08099701  1.35801967 -0.71492543 -0.30240561  0.8117769   0.13254692
  -0.28844875 -0.29221759  0.5857346   0.5782762 ]
 [-0.08099701  1.35801967 -0.71492543 -0.30240561  0.4323884  -0.1864618
  -0.28848685 -0.29221759 -0.24501981 -0.24211765]
 [-0.08099701  1.35801967 -0.71492543 -0.30240561  0.08110274 -0.07625862
  -0.28848685 -0.29221759  0.1145149   0.10834134]
 [-0.08099701  1.35801967 -0.71492543 -0.30240561 -1.59101696  0.40938323
  -0.28848685 -0.29221759  0.60842197  0.64487634]
 [-0.08099701 -0.73636636 -0.71492543 -0.30240561 -0.27720862 -0.1743162
   2.82870396  2.81229082 -0.24280711 -0.27838012]
 [-0.08099701 -0.73636636  1.39874729 -0.30240561  0.61505694 -0.26930033
  -0.25125894 -0.26110817 -0.32354534 -0.33284631]
 [-0.08099701  1.35801967 -0.71492543 -0.30240561  1.80240244 -0.23132519
  -0.28848685 -0.29221759 -0.01277705 -0.03486617]]

In [25]:
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression(random_state = 0) 
classifier.fit(X_train, y_train)

C:\Users\rawll\.conda\envs\tensorflow\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=0, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
y_pred = classifier.predict(X_test)

In [28]:
from sklearn.metrics import confusion_matrix 
cm = confusion_matrix(y_test, y_pred) 
  
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[953120     44]
 [   691    538]]

In [30]:
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.9992298770003551

In [5]:
train.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [6]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(train['type'])
train['type_encoded']=le.transform(train['type'])

In [7]:
train.sample(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,type_encoded
5781042,400,CASH_OUT,30712.19,C1155098126,0.00,0.00,C1353801833,1491885.52,1522597.71,0,0,1
3182115,239,CASH_IN,124277.47,C1810791014,102826.00,227103.47,C749849101,87343.82,0.00,0,0,0
2844500,226,PAYMENT,27068.90,C960349908,182669.36,155600.46,M154253431,0.00,0.00,0,0,3
6036440,476,PAYMENT,9108.30,C738645797,16549.00,7440.70,M779522736,0.00,0.00,0,0,3
1128587,131,PAYMENT,16651.99,C129416778,82512.00,65860.01,M824649372,0.00,0.00,0,0,3
3472705,258,CASH_OUT,232999.29,C1145040439,26681.00,0.00,C1014461227,106477.73,339477.02,0,0,1
1195960,132,CASH_IN,91323.38,C1502742857,60007.00,151330.38,C1789865142,462410.56,371087.18,0,0,0
3079249,235,PAYMENT,1022.34,C1446830500,108334.30,107311.96,M600545023,0.00,0.00,0,0,3
3433799,256,CASH_IN,43449.60,C827452077,199713.00,243162.60,C585227662,0.00,0.00,0,0,0
1524647,153,CASH_IN,342776.00,C877308363,502.00,343278.00,C958982683,0.00,0.00,0,0,0

In [8]:
X=train[['type_encoded', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest', 'newbalanceDest']]
Y=train['isFraud']

In [9]:
X.head(1)

,type_encoded,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,3,9839.64,170136.0,160296.36,0.0,0.0

In [10]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
X_scaled= min_max_scaler.fit_transform(X)

In [11]:
X_scaled[0]

array([7.50000000e-01, 1.06437179e-04, 2.85534757e-03, 3.23275647e-03,
       0.00000000e+00, 0.00000000e+00])

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout
classifier = Sequential()
classifier.add(Dense(units = 8,activation = 'relu', input_dim = 6))
classifier.add(Dropout(0.3))
classifier.add(Dense(units = 1,activation = 'sigmoid'))
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
classifier.fit(X_scaled, Y, batch_size =32 , epochs = 1)

Using TensorFlow backend.

Epoch 1/1
1965248/6362620 [========>.....................] - ETA: 9:44 - loss: 0.0138 - acc: 0.9987